@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,100;1,400&display=swap');

.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.Header {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background: #000000;
  position: absolute;
  z-index: 0;
}

.LogoTitle {
  color: white;
  margin: 15px 15px;
}

.main{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.column {
  padding: 10px;

}

.small {
  width: 23.5%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 7.5%;
  position: absolute;
  height: 84%;
  position: absolute;
  z-index: 1;
}
.middle {
  width: 48%;
}


.centre{
  display: block;
  width: 175px;
  height: 125px;
  object-fit: fill;
}
.song-button {
  background-color: rgba(0,0,0,1.0);
  color: white;
  border-radius: 25px;
  width: 200px;
  height: 250px;
  opacity: 1;
  border: none;
  position: relative;
}


.song-button:hover {
  background-color: rgba(67,14,136,.75);
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);

}

.background{
  background-image: url(images/background.jpeg);
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -10;
}

.background-gradient {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient( .25turn, rgba(34,205,125,.25), rgba(123,166,146, .25), rgba(255,255,255, .1));
  position: absolute;
  backdrop-filter: brightness(60%);
  z-index: -9;
}

.Questions-Container {
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  overflow-y: scroll;
  max-height: 60%;
}
.Questions-Container::-webkit-scrollbar {
  display: none;
}


.question{
  background-color: rgba(230, 13, 13, 0.5);
  color: white;
  border-radius: 25px;
  padding: 20px;
  width: 84%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}



.recbutton{
  background-color: black;
  border: 2px solid grey;
  color: grey;
  text-align: center;
  margin: 4px 2px;
  border-radius: 15px;
  width: 100px;
  height: 50px;
  cursor: pointer;

}
.recbutton:hover {
  background-color: white;
  color: #000000;
}

.song {
  text-align: left;
  margin-left: 10px;
}
.playlist {
  background-color: #000000;
  color: white;
  border-radius: 25px;
  border: 1px solid rgba(112,112,112, .8);
  padding: 20px;
}

.playlist-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 50px;
}

.song-name {
  padding: 15px 0 0;
  font-size: 16px;
  border-top: 1px solid rgba(112,112,112, 1.0);
}

.song-title {
  font-size: 16px;
  margin: 5px 0 10px;
}

#quesHeader{
  background-color: rgba(0,0,0,9);
  color: white;
  margin: 0;
  padding: 0 0 0 25px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, .5);
  width: 90%;
  font-size: 16px;
  margin-bottom: 5%;
}

.option {
  background: none;
  color: white;
  border: none;
  font-size: 12px;
  margin: 1.5%;
}
.option:hover{
  color: yellow;
}

.todaylistening {
  background: linear-gradient(rgba(255,255,255, .25), rgba(0,0,0, .25));
  box-shadow: inset 6px 6px 6px rgba(0, 0, 0, .16), 6px 6px 6px rgba(0, 0, 0, .16);
  border-radius: 25px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  max-height: 60%;
  gap: 25px 50px;
  overflow-y: scroll;
}

.todaylistening::-webkit-scrollbar {
  display: none;
}

.todaylistening-title {
  color: white;
  border: 1px solid rgba(112,112,112.1.0) ;
}

.song-desc {
  font-family: 'Josefin Sans';
  font-weight: 100;
}